body {
  margin: 0;
  padding: 0;
}

.index-page {
  margin-bottom: 140;
}

.index-anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.index-navbar {
  background: #1b1c1d;
}

.ui.inverted.menu {
  font-size: 17px;
  font-family: "Share Tech Mono", monospace;
  color: white;
}

.ui.segment {
  color: white;
  background: #1b1c1d;
  font-family: "Share Tech Mono", monospace;
}

.ui.header {
  color: white;
  font-family: "Share Tech Mono", monospace;
}